<ul>
  <li><a href="/">xyz</a></li>
  <li><a href="/">hack</a></li>
  <li><a href="/">cheat</a></li>
  <li><a href="/">se</a></li>
  <li style="float:right"><a class="active" href="#profile">nomoon</a></li>
  <li class="logo"> <%= image_tag("logo.jpg", class:"logojpg")%></li>
</ul>
<div class="profile">
 <%= image_tag("logo.jpeg", class:"profile-image")%>
 <div class="profile-category">
   <h4><b>nomoon aka hougahoau</b></h4>
   <p>Bonjour blablablalblalbalblalbal</p>
   <a href class="button" href="#index" type="button">Voir Profil</a>
 </div>
